body {
  margin: 0;
}

div {
  background-color: #aaa;
  width: 140px;
  height: 80px;
  padding: 30px;
  border: 10px solid #111;
  margin: 30px;
}

h1 {
  background-color: #8444ee;
  padding: 20px;
  width: auto;
  border: 4px solid #111;
  margin: 40px;
}
